<!DOCTYPE html>

<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>Confirmación de pedido</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <style>
    * {
      font-family: Arial;
      box-sizing: border-box;
    }
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body style="margin: 0; padding: 0">
  <table cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td bgcolor="#F6F8FA">
        <table align="center" cellpadding="0" cellspacing="0"
          style="border-collapse: collapse; min-width: 360px; max-width: 500px;">
          <!--Logo-->
          <tr>
            <td align="center" style="padding: 32px 0">
              <img src="https://bflex.pe/cliente/img/b24.png" height="100px" alt="BARRIO24"
                style="display: block" />
            </td>
          </tr>
          <!--Cuerpo-->
          <tr>
            <td align="center" style="padding: 0">
              <table bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" width="100%"
                style="border-radius: 16px; max-width: 468px;margin: 0 16px">
                <tr>
                  <td align="center" style="padding: 39px 15px 16px 15px">
                    <img src="https://bflex.pe/r19/utilitarios/email/imgs/food.png"
                      width="150" height="150" style="display: block" />
                  </td>
                </tr>
                <tr>
                  <td align="center" style="padding: 15px 20px 24px 20px">
                    <h2
                      style="font-size: 16px;line-height: 20px;margin-top: 0;margin-bottom: 16px;font-weight: normal;">
                      Hola, NombreClienteFlag</h2>
                    <p
                      style="color:  #131336 !important;font-family: Arial;width: 372px;height: 40px;font-size: 16px;line-height: 20px;margin: 0 auto;">
                      Aquí estan los datos del pedido que acabas de realizar
                    </p>
                     <p
                      style="color:  #131336 !important;font-family: Arial;width: 372px;height: 40px;font-size: 16px;line-height: 20px;margin: 0 auto;">
                      Haz seguimiento de tu pedido haciendo click <a href="linkSeguimientoFlag">aquí</a>
                    </p>
                    <table
                      style="background-color: #F6F8FA; max-width: 404px;width: 100%;padding-bottom: 24px;border-radius: 4px;">
                      <tr>
                        <td style="padding: 24px;width: 100%;padding-bottom: 0;">
                          <h3
                            style="color:  #131336 !important;font-family: Arial;font-size: 16px;line-height: 20px;font-weight: bold;margin: 0 0 16px 0;">
                            Datos del pedido
                          </h3>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 0 24px;width: 100%;padding-bottom: 0;">
                          <p
                            style="padding-left: 32px;color: #9194A7;font-size: 14px;line-height: 16px;margin: 0;margin-bottom: 2px;">
                            Restaurante
                          </p>
                          <i class="bi bi-shop" style="font-size:24px"></i>
                          <p
                            style="color:  #131336 !important;font-family: Arial;font-size: 16px;line-height: 20px; display:inline-block;vertical-align: super;box-sizing: border-box;margin: 0;margin-bottom: 16px;">
                            NombreEmpresaFlag
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 0 24px;width: 100%;padding-bottom: 0;">
                          <p style="padding-left: 32px;color: #9194A7;font-size: 14px;line-height: 16px;margin: 0;">
                            Fecha
                          </p>
                         <i class="bi bi-calendar" style="font-size:24px"></i>
                          <p
                            style="color:  #131336 !important;font-family: Arial;font-size: 16px;line-height: 20px; display:inline-block; margin-top: 6px;vertical-align: super;box-sizing: border-box;;margin: 0;margin-bottom: 16px;">
                            FechaPedidoFlag
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 0 24px;width: 100%;padding-bottom: 0;">
                          <p style="padding-left: 32px;color: #9194A7;font-size: 14px;line-height: 16px;margin: 0;">
                            Hora
                          </p>
                          <i class="bi bi-clock" style="font-size:24px"></i>
                          <p
                            style="color:  #131336 !important;font-family: Arial;font-size: 16px;line-height: 20px; display:inline-block; margin-top: 6px;vertical-align: super;box-sizing: border-box;;margin: 0;margin-bottom: 16px;">
                            HoraPedidoFlag
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 0 24px;width: 100%;padding-bottom: 0;">
                          <p style="padding-left: 32px;color: #9194A7;font-size: 14px;line-height: 16px;margin: 0;">
                            Tipo de entrego
                          </p>
                          <i class="bi bi-archive" style="font-size:24px"></i>
                          <p
                            style="color:  #131336 !important;font-family: Arial;font-size: 16px;line-height: 20px; display:inline-block; margin-top: 6px;vertical-align: super;box-sizing: border-box;;margin: 0;margin-bottom: 16px;">
                            TipoEntregaFlag
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 0 24px;width: 100%;padding-bottom: 0;">
                          <p
                            style="padding-left: 32px;color: #9194A7;font-size: 14px;line-height: 16px;margin: 0;margin-bottom: 2px;">
                            Direccion Local
                          </p>
                          <table class="default">
                            <tr>
                              <td><i class="bi bi-shop" style="font-size:24px"></i></td>
                              <td>
                                <p
                                  style="white-space: initial;color:#131336 !important;font-family: Arial;margin:0;font-size: 16px;line-height: 20px; display:inline-block; margin-top: 6px;vertical-align: super;box-sizing: border-box;">
                                  DireccionLocalFlag
                                </p>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <table
                      style="background-color: #F6F8FA; max-width: 404px;width: 100%;padding-bottom: 24px;border-radius: 4px;margin-top: 10px">
                      <tr>
                        <td style="padding: 24px;width: 100%;padding-bottom: 0;">
                          <h3
                            style="color:  #131336 !important;font-family: Arial;font-size: 16px;line-height: 20px;font-weight: bold;margin: 0 0 16px 0;">
                            Detalle del pedido
                          </h3>
                        </td>
                      </tr>
                      detallePedidoFlag
                    </table>
                    <p
                      style="font-family: Arial;margin-top:24px;color: #9194A7; width: 372px;height: 36px;font-size: 12px;line-height: 18px;margin-bottom: 0;">
                      Si no has realizado este pedido, ignora este mensaje y no procederá.
                    </p>
                  </td>
                </tr>

              </table>
            </td>
          </tr>
          <!--Footer-->
          <tr>
            <td style="padding: 24px 16px;background: #F6F8FA;">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td width="468" height="90" style="
                        color: #9194a7;
                        font-family: Arial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        letter-spacing: 0.015em;
                        line-height: 18px;
                      ">
                    De conformidad con lo establecido en la normativa vigente de protección de datos personales, Barrio24 le informa que sus
                    datos personales son tratados de acuerdo a la
                    <a href="#" target="_blank"
                      style="color: #00b0ca; text-decoration: none">Política de Privacidad</a> y, en caso
                    usted lo autorice, los
                    <a href="#" target="_blank"
                      style="color: #00b0ca; text-decoration: none">fines adicionales</a>.
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <div style="border-top: 1px solid #e4e5ed;margin: 0 16px;"></div>
            </td>
          <tr>
            <td style="padding: 16px 16px 32px 16px;background: #F6F8FA;">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td>
                    <a href="http://barrio24.com/" target="_blank"
                      style="font-family: Arial;text-decoration: none; color: #00B0CA;font-size: 14px;line-height: 16px;">
                      www.barrio24.com
                    </a>
                  </td>
                  <td align="right">
                    <table cellpadding="0" cellspacing="0">
                      <tr>
                        <td align="right">
                          <a href="http://www.facebook.com" target="_blank">
                            <img src="https://auna-email.s3.amazonaws.com/icons/general_icons/icon_Facebook.png"
                              alt="fb" title="Facebook" width="20" height="20"
                              style="box-sizing: border-box;display: block; background-color: #b8bcd5; border-radius: 14px; padding: 3px" />
                          </a>
                        </td>
                        <td align="right" style="padding-left: 16px">
                          <a href="https://www.instagram.com" target="_blank">
                            <img src="https://auna-email.s3.amazonaws.com/icons/general_icons/icon_Instagram.png"
                              alt="ig" title="Instagram" width="20" height="20"
                              style="box-sizing: border-box;display: block; background-color: #b8bcd5; border-radius: 14px; padding: 3px" />
                          </a>
                        </td>
                        <td align="right" style="padding-left: 16px">
                          <a href="http://www.youtube.com" target="_blank">
                            <img src="https://auna-email.s3.amazonaws.com/icons/general_icons/icon_Youtube.png" alt="yt"
                              title="YouTube" width="20" height="20"
                              style="box-sizing: border-box;display: block; background-color: #b8bcd5; border-radius: 14px; padding: 3px" />
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>