<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8" />
    <title>Confirmación de pedido</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <style>
        * {
            font-family: Arial;
            box-sizing: border-box;
        }
    </style>
</head>

<body style="margin: 0; padding: 0">
    <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td bgcolor="#F6F8FA">
                <table align="center" cellpadding="0" cellspacing="0"
                    style="border-collapse: collapse; min-width: 360px; max-width: 500px;">
                    <!--Logo-->
                    <tr>
                        <td align="center" style="padding: 32px 0">
                            <img src="https://bflex.pe/cliente/img/b24.png" height="100px" alt="BARRIO24"
                                style="display: block" />
                        </td>
                    </tr>
                    <!--Cuerpo-->
                    <tr>
                        <td align="center" style="padding: 0">
                            <table bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" width="100%"
                                style="border-radius: 16px; max-width: 468px;margin: 0 16px">
                                <tr>
                                    <td align="center" style="padding: 39px 15px 16px 15px">
                                        <img src="https://bflex.pe/r19/utilitarios/email/imgs/food.png" width="150"
                                            height="150" style="display: block" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding: 15px 20px 24px 20px">
                                        <h2
                                            style="font-size: 16px;line-height: 20px;margin-top: 0;margin-bottom: 16px;font-weight: normal;">
                                            Estimado (a), NombreClienteFlag</h2>
                                        <p
                                            style="color:  #131336 !important;font-family: Arial;width: 372px;height: 40px;font-size: 16px;line-height: 20px;margin: 0 auto;">
                                            Aquí esta el enlace para que puedas ver tu carta digital
                                        </p>
                                        <p
                                            style="color:  #131336 !important;font-family: Arial;width: 372px;height: 40px;font-size: 16px;line-height: 20px;margin: 0 auto;">
                                            <a href="LinkFlag">LinkCartaDigitalFlag</a>

                                        </p>
                                        <p
                                            style="color:  #131336 !important;font-family: Arial;width: 372px;height: 40px;font-size: 16px;line-height: 20px;margin: 0 auto;">
                                            Entra a tu panel de administracion de tu carta digital
                                        <p
                                            style="color:  #131336 !important;font-family: Arial;width: 372px;height: 40px;font-size: 16px;line-height: 20px;margin: 0 auto;">
                                            <a href="https://barrio24.com/cliente">Haciendo click aquí</a>
                                        </p>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <!--Footer-->
                    <tr>
                        <td style="padding: 24px 16px;background: #F6F8FA;">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td width="468" height="90" style="
                        color: #9194a7;
                        font-family: Arial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        letter-spacing: 0.015em;
                        line-height: 18px;
                      ">
                                        De conformidad con lo establecido en la normativa vigente de protección de datos
                                        personales, Barrio24 le informa que sus datos personales son tratados de acuerdo
                                        a la
                                        <a href="#" target="_blank"
                                            style="color: #00b0ca; text-decoration: none">Política de Privacidad</a> y,
                                        en caso usted lo autorice, los
                                        <a href="#" target="_blank" style="color: #00b0ca; text-decoration: none">fines
                                            adicionales</a>.
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="border-top: 1px solid #e4e5ed;margin: 0 16px;"></div>
                        </td>
                    <tr>
                        <td style="padding: 16px 16px 32px 16px;background: #F6F8FA;">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <a href="https://barrio24.com/" target="_blank"
                                            style="font-family: Arial;text-decoration: none; color: #00B0CA;font-size: 14px;line-height: 16px;">
                                            www.barrio24.com
                                        </a>
                                    </td>
                                    <td align="right">
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td align="right">
                                                    <a href="http://www.facebook.com" target="_blank">
                                                        <img src="https://auna-email.s3.amazonaws.com/icons/general_icons/icon_Facebook.png"
                                                            alt="fb" title="Facebook" width="20" height="20"
                                                            style="box-sizing: border-box;display: block; background-color: #b8bcd5; border-radius: 14px; padding: 3px" />
                                                    </a>
                                                </td>
                                                <td align="right" style="padding-left: 16px">
                                                    <a href="https://www.instagram.com" target="_blank">
                                                        <img src="https://auna-email.s3.amazonaws.com/icons/general_icons/icon_Instagram.png"
                                                            alt="ig" title="Instagram" width="20" height="20"
                                                            style="box-sizing: border-box;display: block; background-color: #b8bcd5; border-radius: 14px; padding: 3px" />
                                                    </a>
                                                </td>
                                                <td align="right" style="padding-left: 16px">
                                                    <a href="http://www.youtube.com" target="_blank">
                                                        <img src="https://auna-email.s3.amazonaws.com/icons/general_icons/icon_Youtube.png"
                                                            alt="yt" title="YouTube" width="20" height="20"
                                                            style="box-sizing: border-box;display: block; background-color: #b8bcd5; border-radius: 14px; padding: 3px" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>